<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>

<link rel="stylesheet" href="/dependencies/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/dependencies/bootstrap/css/business-casual.css">

<link href="/dependencies/bootstrap/css/simple-sidebar.css" rel="stylesheet">

<link rel="stylesheet" href="/dependencies/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/dependencies/jquery-ui-1.11.4.custom/jquery-ui.min.css">

<!-- Fonts -->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic">

<link rel="stylesheet" href="/dependencies/simplebar/simplebar.css">


<link rel="stylesheet" href="/stylesheets/all.css">


<script src="/dependencies/jquery-2.1.4.js"></script>
<script src="/dependencies/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<script src="/dependencies/bootstrap/js/bootstrap.min.js"></script>
<script src="/dependencies/simplebar/simplebar.min.js"></script>

<script src="/javascripts/all.js"></script>
