html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body > div {
    height: 100%;
    overflow: auto;
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
  background: rgb(169,3,41); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%) no-repeat center center fixed; /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%) no-repeat center center fixed; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%) no-repeat center center fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

}

@media(min-width: 768px) {
  .container {
    width: 500px;
  }
}

@media(min-width: 992px) {
  .container {
    width: 742px;
  }
}

@media(min-width: 1200px) {
  .container {
    width: 920px;
  }
}


/*.box {


}*/

a {
  cursor: pointer;
}

ul, ol {
  font-size: 1.25em;
}

#main-heading {
  font-size: 2.5em;
  padding-top: 0px;
}

#secondary-heading {
  padding-bottom: 10px;
}

/*#sidebar-wrapper {

}*/

/*.sidebar-nav a {
  color: black !important;
}

.sidebar-brand a {
  color: black !important;
}*/

@media(min-width:768px) {
  #page-content-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}

#page-content-wrapper {
  position: relative;
}

.sidebar-img {
  width: 250px;
  height: 187.5px;
  position: fixed;
  bottom: 0px;
}
